html{
	
}

.historia {
	background-color: black;
  opacity: 0.70;
  text-align: center;
  color: white;
  height: 200px;
}
h6{
  text-align: center;
  color: white;
}
h1{
	color:#e6bc53;
}
.logo{
	position:center;
}