.home .jumbotron {
    background-image: url('../img/bg-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .home .jumbotron {
        background-position: bottom;
    }
}
